@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

/* global.css */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

* {
  scrollbar-width: none; /* Firefox */
}


/* src/index.css or App.css */
.react-calendar {
  border: none !important;
  box-shadow: none !important;
}
.react-calendar__tile {
  border: none !important;
}
